@{
    /**/

    ViewBag.Title = "Изпратен имейл за възстановяване на парола";
}

<div class="modal-dialog modal-confirm">
    <div class="modal-content">
        <div class="modal-header">
            <div class="icon-box"><i class="fa fa-check material-icons"></i></div>
        </div>
        <div class="modal-body text-center">
            <h4>Готово!</h4>
            <p>Изпратихме имейл за възстановяване на забравена парола! Отидете на пощата си и изберете своята нова парола..</p>
            <a class="btn btn-primary" data-dismiss="modal" role="button" href="@Url.Action("Login", "Account")">Към вход <i class="fa fa-arrow-right material-icons"></i></a>
        </div>
    </div>
</div>

@section Scripts {
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
}
