@{
    ViewBag.Title = "Контакти";
}
<style>
    #coloredBG {
        background-color: rgba(255, 255, 255, 0.5);
        padding-top: 3%;
    }
</style>
<div id="coloredBG">
    <div class="row">
        <div class="col-md-3">
            <img class="mb-4 img-responsive" style="padding-left: 10%;" src="~/Content/images/customer-support.svg" alt="" width="210" height="210">
        </div>
        <div class="col-md-pull-3">
            <hgroup>
                <h2>Контакти</h2>
            </hgroup>
            <div>
                <address>
                    DocAppoint Ltd<br />
                    България, Пловдив 4000<br />
                </address>

                <address>
                    <i class="fa fa-phone-square"></i><strong>Телефон: </strong>08** *** *** (всеки делник от 08:00 до 18:00)<br />
                    <i class="fa fa-mail-forward"></i><strong>Имейл: </strong> <a href="mailto:support@docappoint.bg">support@docappoint.bg</a>
                </address>
            </div>
        </div>
    </div>
</div>